build/
imgui.ini
settings.ini
.vscode/
CMakeSettings.json
out/
.vs/

# Binaries
bin/
bin-int/
obj/
Intermediates/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
/output.txt
